@import 'sr_only';

body {
    font-family: 'Droid Sans', sans-serif;
    font-size: 11pt;
}

input[type="time"]::-webkit-clear-button {
    display: none;
}

.error-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(200, 200, 200, 0.8);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: red;
    z-index: 999;
}

pre, code {
    font-family: 'Droid Sans Mono', monospace;
    font-size: 11pt;
    white-space: pre-wrap;
    word-break: break-all;
}

.main-menu {
    background-color: #dbc6a4;
    margin-bottom: 1em;
    padding: 0.2em;
}

.button-bar {
    width: 100%;

    display: flex;
    flex-direction: row;

    button {
        background-color: rgba(256, 256, 256, 0.9);
        margin: 0.2em;

        border: none;
        outline: none;

        &:hover {
            background-color: rgba(256, 256, 256, 1);
        }
    }

    .button-group-general {
        button {
            background-color: rgba(100, 100, 100, 0.3);

            &:hover {
                background-color: rgba(100, 100, 100, 0.5);
            }
        }
    }

    .button-group-content {
        button {
            background-color: rgba(200, 50, 10, 0.3);

            &:hover {
                background-color: rgba(200, 50, 10, 0.5);
            }
        }
    }
}

.indicator {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &.indicator-cal-event {
        &::before {
            content: '🗓️';
        }
    }

    &.indicator-reminder {
        &::before {
            content: '🔔';
        }
    }
}

.indicators {
    float: right;
    margin-top: 0.2em;
    margin-right: 0.2em;
    display: flex;
    flex-direction: row;

    .indicator {
        .label {
            @include sr-only;
        }
    }
}

.calendar-events {
    display: flex;
    flex-direction: column;

    .calendar-event {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 1em;
        margin-right: 1em;

        .event-content {
            flex-shrink: 3;
            margin-left: 1em;
            margin-right: 1em;
        }

        > .indicator {
            .label {
                @include sr-only;
            }
        }

        button {
            margin: 0.2em;

            border: none;
            outline: none;

            background-color: rgba(200, 50, 10, 0.3);

            &:hover {
                background-color: rgba(200, 50, 10, 0.5);
            }
        }
    }
}


.card {
    .card-body {
        display: flex;
        flex-direction: row;

        border: 1px solid rgba(1, 1, 1, 0);
        &.selected {
            border: 1px solid #dd1111;
        }

        margin-top: 1px;
        margin-bottom: 1px;

        .controls {
            flex-basis: content;

            button {
                background-color: rgba(100, 100, 100, 0.1);
                width: 1.2em;
                padding: 0px;

                height: 100%;
                border: none;
                outline: none;

                &.expander {
                    &:hover {
                        background-color: rgba(100, 100, 100, 0.5);
                    }

                    .icon {
                        font-size: 0.7em;
                    }
                }
            }
        }

        .card-vbox {
            display: flex;
            flex-direction: column;
            width: 100%;

            .button-bar {
                background-color: rgba(100, 100, 100, 0.1);
            }

            .card-content {
                margin-left: 0.4em;
                padding-top: 0.2em;
                padding-bottom: 0.2em;

                .markdown { // markdown container
                    p, ul, pre {
                        margin-top: 0.5em;
                        margin-bottom: 0.5em;

                        &:first-child {
                            margin-top: 0;
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    .card-children {
        padding-left: 1em;
    }
}

.transparent-hack {
    color: Transparent;
}
