@import 'sr_only';

body {
    font-family: 'Droid Sans', sans-serif;
    font-size: 11pt;
}

.error-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(200, 200, 200, 0.8);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: red;
    z-index: 999;
}

pre, code {
    font-family: 'Droid Sans Mono', monospace;
    font-size: 11pt;
}

.main-menu {
    background-color: #dbc6a4;
    margin-bottom: 1em;
    padding: 0.2em;
}

.button-bar {
    width: 100%;

    display: flex;
    flex-direction: row;

    button {
        background-color: rgba(100, 100, 100, 0.3);
        margin: 0.2em;

        border: none;
        outline: none;

        &:hover {
            background-color: rgba(100, 100, 100, 0.5);
        }
    }
}


.card {
    .card-body {
        display: flex;
        flex-direction: row;

        border: 1px solid rgba(1, 1, 1, 0);
        &.selected {
            border: 1px solid #dd1111;
        }

        margin-top: 1px;
        margin-bottom: 1px;

        .controls {
            flex-basis: content;

            button {
                background-color: rgba(100, 100, 100, 0.1);
                width: 1.2em;
                padding: 0px;

                height: 100%;
                border: none;
                outline: none;

                &.expander {
                    &:hover {
                        background-color: rgba(100, 100, 100, 0.5);
                    }

                    .icon {
                        font-size: 0.7em;
                    }
                }
            }
        }

        .card-vbox {
            display: flex;
            flex-direction: column;
            width: 100%;

            .button-bar {
                background-color: rgba(100, 100, 100, 0.1);
            }

            .card-content {
                margin-left: 0.4em;
                padding-top: 0.2em;
                padding-bottom: 0.2em;

                .markdown { // markdown container
                    p, ul, pre {
                        margin-top: 0.5em;
                        margin-bottom: 0.5em;

                        &:first-child {
                            margin-top: 0;
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    .card-children {
        padding-left: 1em;
    }
}

.transparent-hack {
    color: Transparent;
}
